---
Language:                                                     Cpp
AccessModifierOffset:                                         -1
AlignAfterOpenBracket:                                        Align
AlignConsecutiveAssignments:                                  true
AlignConsecutiveDeclarations:                                 true
AlignConsecutiveMacros:                                       true
AlignEscapedNewlines:                                         Left
AlignOperands:                                                true
AlignTrailingComments:                                        true
AllowAllArgumentsOnNextLine:                                  true
AllowAllConstructorInitializersOnNextLine:                    true
AllowAllParametersOfDeclarationOnNextLine:                    true
AllowShortBlocksOnASingleLine:                                true
AllowShortCaseLabelsOnASingleLine:                            true
# (FIXME) AllowShortEnumsOnASingleLine:                                 false
AllowShortFunctionsOnASingleLine:                             All
AllowShortIfStatementsOnASingleLine:                          true
AllowShortLambdasOnASingleLine:                               All
AllowShortLoopsOnASingleLine:                                 true
AlwaysBreakAfterDefinitionReturnType:                         None
AlwaysBreakAfterReturnType:                                   None
AlwaysBreakBeforeMultilineStrings:                            true
AlwaysBreakTemplateDeclarations:                              Yes
BinPackArguments:                                             true
BinPackParameters:                                            true
BitFieldColonSpacing:                                         Both
BreakBeforeBinaryOperators:                                   None
BreakBeforeBraces:                                            Attach
BreakBeforeConceptDeclarations:                               true
BreakBeforeInheritanceComma:                                  false
BreakBeforeTernaryOperators:                                  true
BreakConstructorInitializers:                                 BeforeColon
BreakConstructorInitializersBeforeComma:                      false
BreakInheritanceList:                                         BeforeColon
BreakStringLiterals:                                          true
ColumnLimit:                                                  65
CommentPragmas:                                               '^ IWYU pragma:'
CompactNamespaces:                                            false
ConstructorInitializerAllOnOneLineOrOnePerLine:               true
ConstructorInitializerIndentWidth:                            2
ContinuationIndentWidth:                                      4
Cpp11BracedListStyle:                                         true
DerivePointerAlignment:                                       true
DisableFormat:                                                false
ExperimentalAutoDetectBinPacking:                             false
EmptyLineBeforeAccessModifier:                                Always
EmptyLineAfterAccessModifier:                                 Never
FixNamespaceComments:                                         true
ForEachMacros:                                                [FOR_CONSTEXPR_IDX, FOR_ENUM]
IfMacros:                                                     ['if_get']
#IncludeBlocks:                                               Preserve
IncludeCategories: 
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
IndentExternBlock:                                            NoIndent
IncludeIsMainRegex:                                           '([-_](test|unittest))?$'
IndentCaseBlocks:                                             false
IndentCaseLabels:                                             true
IndentGotoLabels:                                             true
IndentPPDirectives:                                           AfterHash
IndentWidth:                                                  2
IndentWrappedFunctionNames:                                   false
IndentRequires:                                               false
KeepEmptyLinesAtTheStartOfBlocks:                             false
# LambdaBodyIndentation:                                      OuterScope # Not working as expected
MacroBlockBegin:                                              ''
MacroBlockEnd:                                                ''
MaxEmptyLinesToKeep:                                          1
NamespaceIndentation:                                         None
NamespaceMacros:                                              []
# PackConstructorInitializers:                                NextLine # Seems to have no effect relative to default
PenaltyBreakAssignment:                                       2
PenaltyBreakBeforeFirstCallParameter:                         1
PenaltyBreakComment:                                          300
PenaltyBreakFirstLessLess:                                    120
PenaltyBreakString:                                           1000
PenaltyBreakTemplateDeclaration:                              0
PenaltyExcessCharacter:                                       1000000
PenaltyReturnTypeOnItsOwnLine:                                200
PointerAlignment:                                             Left
ReferenceAlignment:                                           Left
# (ENABLE WHEN SUPPORTED) QualifierOrder:                     ['inline', 'constexpr', 'static', 'type', 'const', 'volatile' ]
PPIndentWidth:                                                -1 # use IndentWidth
RawStringFormats: 
  - Language: Cpp
    Delimiters:      
      - cc
      - CC
      - cpp
      - Cpp
      - CPP
      - 'c++'
      - 'C++'
    CanonicalDelimiter: ''
ReflowComments:                                               true
ShortNamespaceLines:                                          5 # No effect?
SortIncludes:                                                 true
SortUsingDeclarations:                                        true
SpaceAfterCStyleCast:                                         false
SpaceAfterLogicalNot:                                         false
SpaceAfterTemplateKeyword:                                    false
SpaceAroundPointerQualifiers:                                 Default
SpaceBeforeAssignmentOperators:                               true
SpaceBeforeCaseColon:                                         false
SpaceBeforeCpp11BracedList:                                   false
SpaceBeforeCtorInitializerColon:                              true
SpaceBeforeInheritanceColon:                                  true
SpaceBeforeParens:                                            Never
SpaceBeforeRangeBasedForLoopColon:                            true
SpaceBeforeSquareBrackets:                                    false
SpaceInEmptyParentheses:                                      false
SpaceInEmptyBlock:                                            false
SpacesBeforeTrailingComments:                                 1
SpacesInAngles:                                               false
SpacesInContainerLiterals:                                    true
SpacesInConditionalStatement:                                 true
SpacesInCStyleCastParentheses:                                false
SpacesInLineCommentPrefix:
  Minimum:  1
  Maximum: -1
SpacesInParentheses:                                          true
SpacesInSquareBrackets:                                       false
Standard:                                                     Auto
StatementMacros:                                              []
TabWidth:                                                     4
TypenameMacros:                                               []
UseCRLF:                                                      false
UseTab:                                                       Never
...
