CompileFlags:
  # Search .builds/current for compile_commands.json.
  CompilationDatabase: .builds/current
  Remove: [
    # gcc-specific flags.
    -static-libasan
    ]

Diagnostics:
  UnusedIncludes: None   # Use "Strict" to enable.
  MissingIncludes: None  # Use "Strict" to enable.