# Notes on excluded checks:
#
#   [abseil-no-internal-dependencies]: Currently doesn't seem to work properly,
#                                      scans inside abseil files.  This check would
#                                      be good if it were working; perhaps try it
#                                      again in the future.

Checks: '
    -*,
     abseil-*,
     boost-*,
     bugprone-*,
     cert-*,
     cppcoreguidelines-*,
     clang-analyzer-*,
     hicpp-*,
     misc-*,
     modernize-*,
     performance-*,
     portability-*,
     readability-*,
    -hicpp-braces-around-statements,
    -readability-braces-around-statements,
    -abseil-no-internal-dependencies,
    -cert-err58-cpp
'
WarningsAsErrors: '*'
FormatStyle: 'file'
# Only report errors from headers in our project and not third party headers.
HeaderFilterRegex: 'src/.*'
CheckOptions:
  - key:             performance-unnecessary-value-param.AllowedTypes
    value:           'X;Y;W;H;UnitId'
  - key:             performance-for-range-copy.AllowedTypes
    value:           'X;Y;W;H;UnitId'
  - key:             performance-unnecessary-copy-initialization.AllowedTypes
    value:           'X;Y;W;H;UnitId'
