# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim-related
*~
*.swp
*.vim

# Something mac-related, not sure what it is
.DS_Store

# Game specific
assets/art/*.tm
/*.mid
saves/slot*
/*.pp.*

# cmake
/.builds
/build
/Makefile
