[submodule "extern/base-util"]
	path = extern/base-util
	url = ../../dpacbach/base-util.git
[submodule "extern/abseil-cpp"]
	path = extern/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/libucl"]
	path = extern/libucl
	url = ../../dpacbach/libucl.git
[submodule "extern/backward-cpp"]
	path = extern/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "extern/type_safe"]
	path = extern/type_safe
	url = https://github.com/foonathan/type_safe.git
[submodule "extern/debug_assert"]
	path = extern/debug_assert
	url = https://github.com/foonathan/debug_assert.git
[submodule "extern/better-enums/better-enums"]
	path = extern/better-enums/better-enums
	url = https://github.com/aantron/better-enums.git
[submodule "assets/art"]
	path = assets/art
	url = ../../dpacbach/rn-art.git
[submodule "extern/scelta"]
	path = extern/scelta
	url = ../../dpacbach/scelta.git
[submodule "extern/vrm_cmake"]
	path = extern/vrm_cmake
	url = ../../dpacbach/vrm_cmake.git
[submodule "extern/range-v3"]
	path = extern/range-v3
	url = ../../dpacbach/range-v3.git
[submodule "extern/midifile"]
	path = extern/midifile
	url = ../../dpacbach/midifile.git
[submodule "extern/rtmidi"]
	path = extern/rtmidi
	url = ../../dpacbach/rtmidi
[submodule "assets/music"]
	path = assets/music
	url = ../../dpacbach/rn-music.git
[submodule "extern/rg-2-midi"]
	path = extern/rg-2-midi
	url = ../../dpacbach/rg-2-midi
[submodule "extern/expected-lite"]
	path = extern/expected-lite
	url = https://github.com/martinmoene/expected-lite
[submodule "extern/function_ref"]
	path = extern/function_ref
	url = ../function_ref.git
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = ../Catch2.git
[submodule "extern/sol2"]
	path = extern/sol2
	url = ../../dpacbach/sol2.git
