/****************************************************************
**{{FILEE}}
*
* Project: Revolution Now
*
* Created by {{NAME}} on {{YEAR}}-{{MONTH}}-{{DATE}}.
*
* Description: TODO [FILL ME IN]
*
*****************************************************************/
#pragma once

#include "core-config.hpp"

namespace rn {

// TODO

} // namespace rn
