/****************************************************************
**{{FILEE}}
*
* Project: Revolution Now
*
* Created by {{NAME}} on {{YEAR}}-{{MONTH}}-{{DATE}}.
*
* Description: TODO [FILL ME IN]
*
*****************************************************************/
#pragma once

#include "core-config.hpp"

// Revolution Now
#include "hello.hpp"

// base
#include "base/hello.hpp"

namespace rn {



} // namespace rn
