/****************************************************************
**{{FILEE}}
*
* Project: Revolution Now
*
* Created by {{NAME}} on {{YEAR}}-{{MONTH}}-{{DATE}}.
*
* Description: [FILL ME IN]
*
*****************************************************************/
syntax = "proto3";

package rn.proto;

message SomeMessage {
  int some_field = 1;
}
