/****************************************************************
**{{FILE_NAME}}
*
* Project: Revolution Now
*
* Created by {{AUTHOR}} on {{YEAR}}-{{MONTH}}-{{DAY}}.
*
* Description: TODO [FILL ME IN]
*
*****************************************************************/
#version 330 core
out vec4 FragColor;

void main() {
  FragColor = vec4( 1.0f, 1.0f, 1.0f, 1.0f );
}