--[[ ------------------------------------------------------------
|
| {{FILE_NAME}}
|
| Project: Revolution Now
|
| Created by {{AUTHOR}} on {{YEAR}}-{{MONTH}}-{{DAY}}.
|
| Description: TODO [FILL ME IN]
|
--]] ------------------------------------------------------------
local M = {}

-----------------------------------------------------------------
-- Imports.
-----------------------------------------------------------------
local tables = require( 'util.tables' )

-----------------------------------------------------------------
-- Aliases.
-----------------------------------------------------------------
local format = string.format

-----------------------------------------------------------------
-- Methods.
-----------------------------------------------------------------
local function foo()
  -- local function.
end

function M.bar()
  -- exported function.
end

-----------------------------------------------------------------
-- Finished.
-----------------------------------------------------------------
return M
