/****************************************************************
* {{FILEE}}
*
* Project: Revolution Now
*
* Created by {{NAME}} on {{YEAR}}-{{MONTH}}-{{DATE}}.
*
* Description: {{CURSOR}}
*
*****************************************************************/
#pragma once

#include "core-config.hpp"

namespace rn {



} // namespace rn
