/****************************************************************
**{{FILEE}}
*
* Project: Revolution Now
*
* Created by {{NAME}} on {{YEAR}}-{{MONTH}}-{{DATE}}.
*
* Description: [FILL ME IN]
*
*****************************************************************/
#version 330 core
out vec4 FragColor;

void main() {
  FragColor = vec4( 1.0f, 1.0f, 1.0f, 1.0f );
}