--[[ ------------------------------------------------------------
|
| {{FILEE}}
|
| Project: Revolution Now
|
| Created by {{NAME}} on {{YEAR}}-{{MONTH}}-{{DATE}}.
|
| Description: {{CURSOR}}
|
--]] ------------------------------------------------------------
local M = {}

local function foo()
  -- local function.
end

function M.bar()
  -- exported function.
end

return M
